.DS_Store
CsoundBridge/.DS_Store
CsoundBridge/.classpath
CsoundBridge/.idea/
CsoundBridge/.project
CsoundBridge/bin/
.idea/
.project/
*/.ipynb_checkpoints/
*.sco
*.wav
*.pyc
*.asd
*.pkf
*.mp3
*.pvoc



